<footer class="py-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-md-3 border-end">
        <div class="px-2">
          <img width="150" class="mb-3" src="assets/images/logo.png" alt="">
          <p>
            Car Roll-Dice is Egyptian cars auction start-up business that’s simple a new method of
            selling cars to be introduced in Egypt through an online platform that allows for auctions.
          </p>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="p-2">
          <h4 class="fw-bolder">Products</h4>
          <ul class="list-unstyled">
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Accident cars</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Used cars</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Classical cars</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Sell car</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Buy car</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="p-2">
          <h4 class="fw-bolder">Auction</h4>
          <ul class="list-unstyled">
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Today Auction</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Auction Calendar</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Location</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="p-2">
          <h4 class="fw-bolder">Company</h4>
          <ul class="list-unstyled">
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">About us</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Partner</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 ">
        <div class="p-2">
          <h4 class="fw-bolder">Social</h4>
          <ul class="list-unstyled">
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Facebook</a>
            </li>
            <li class="py-1">
              <a href="" class="text-decoration-none text-white ">Facebook</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>