#template{
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

#template::after{
  content: "";
  height:100% ;
  width: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.557);
  position: absolute;
}

.binding{
  width: 250px;
  position: fixed;
}


.proccess {
  position: fixed;
  inset: 0;
  z-index: 999999;
  backdrop-filter: blur(6px);
  display: none;
}

.fa-circle-xmark {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}



.pickUp {
  display: none;
}

.feedback {
  display: none;
}

.fa-circle-xmark {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}
