<main>
  <section style="background-image: url('assets/images/about-hero.png');" class="about-hero">
    <div class="container h-100 d-flex align-items-center">
      <h1>Membership Guide <br>About Us</h1>
    </div>
  </section>
  <section class="about-content py-5">
    <div class="container ">
      <h3 class=" mb-5">Car Roll Dice Offers six membership types to meet the unique needs of our buyers.</h3>
      <div>
        <ul>
          <li class="py-3">
            <h4>3D Models</h4>
            <p class="lead">
              Simply Making three-dimensional representations of cars so that our customer can see the detail of the car
              besides the
              real picture of it.
              It helps online bidders to watch the car as if
              it’s physical right their sight.
            </p>
          </li>
          <li class="py-3">
            <p class="lead">
              Free spectating: Normal membership and VIP membership:
              In Free Spectating; Our website visitors can see cars whether it’s a normal picture or a 3D modeling,
              without bidding.
            </p>
            <p class="lead">
              In Normal Membership; Our website customers who want to
              buy less than 10 cars in a year, in this feature they can see multiple auctions and bid up to
              20,000 EGP without a deposit, also they can bid up to 4 cars in the same time but with
              deposit.
            </p>
            <p class="lead">
              In VIP membership:
              Our VIP customers who want to buy more than 10 cars in a year can have all normal membership feature plus
              the upcoming features; they can see multiple cars and bid up to 120,000 EGP with a deposit.
              Receive priority customer service and phone support.
            </p>
          </li>
          <li class="py-3">
            <p>
            <h5>Special offers</h5>
            <p class="lead">
              Maintenance offers depends on membership subscription.
            </p>
          </li>
          <li class="py-3">
            <h5>Test Driving</h5>
            <p class="lead">
              In the announced date, only people who subscribed in the online auction, they can test the
              cars they willing to bid on.
            </p>
          </li>
          <li class="py-3">
            <h5>Accident Car Auction:</h5>
            <p class="lead">
              Accident vehicles listed in a car roll dice auction include details about the extent and nature of the
              damage they sustained.
              This may include information on the type of accident,
              visible damage to the exterior or interior, whether or not the vehicle is in operation, and any specific
              repairs
              needed.
              We provide photos showing the damage, allowing potential buyers to evaluate the
              condition before bidding and purchasing the vehicle.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="privacy pb-5">
    <div class="container ">
      <div class="head">
        <h3 class="head-privacy position-relative">Auction rules & policy</h3>
      </div>
      <div class="content pt-4">
        <p class="lead">
          This privacy ("policy") explain the information collection use and sharing
          practices of [Car Roll Dice] .
        </p>
        <p class="lead">
          Unless otherwise stated, this Policy describes and governs the information
          collection, use, and sharing practices of [Car Roll Dice] with respect to your use of our website
          (http://www.carroll_dice.com/) and the services ("Services") we provide and/or host on
          our servers.
        </p>
        <p class="lead">
          Before you use or submit any information through or in connection with the
          Services, please carefully review this Privacy Policy.
        </p>
        <p class="lead">
          By using any part of the Services, you understand that your Information will
          be collected, used, and disclosed as outlined in this Privacy Policy.
        </p>
        <p class="lead">
          If you do not agree to this privacy policy, please do not use our Services.
        </p>

        <h4>Our Principles</h4>
        <ul class="pb-3">
          <li>
            <p class="lead">
              Privacy policies should be human readable and easy to find
            </p>
          </li>
          <li>
            <p class="lead">
              Data collection, storage, and processing should be simplified as
            </p>
          </li>
          <li>
            <p class="lead">
              Data practices should meet the reasonable expectations of users.
            </p>
          </li>
        </ul>

        <p class="lead">
          Information We Collect
          We collect information in multiple ways, including when you provide information directly to us,
          when we passively collect information from you, such as from your browser or device and from third
          parties.
        </p>

        <p class="lead">
          Information You Provide Directly to Us
          We will collect any information you provide to us. We may collect information from you in a variety of
          ways, such as when you (a) create an online account, (b) make a donation or purchase,
          (c) contact us or provide feedback, (d) subscribe to our newsletter, or (e) subscribe to our newsletter.
          This information may include but is not limited to your name, email address, phone number, mailing
          address, payment information and your geographic location.
        </p>

        <p class="lead">
          We may automatically collect certain information about the computer or devices
          (including mobile devices or tablets) you use to access the Services.
          As described further below, we may.
        </p>
      </div>
    </div>
  </section>

  <section class="location">
    <div class="container-fluid">
      <iframe class="w-100"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d221020.2601351597!2d31.01067051609798!3d30.05287495943104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846c9306e97af%3A0x5315ebf6378470c0!2sRoute!5e0!3m2!1sen!2seg!4v1637443701177!5m2!1sen!2seg"
        height="400" style="border:0;" allow="fullscreen" loading="lazy"></iframe>
    </div>
  </section>
</main>
