<section class="hero mt-5 py-5">
  <div class="container h-100">
    <div class="row align-items-center h-100 justify-content-between">
        <div class="col-md-5">
          <h1 class="custom-color mb-3">Car ROLL_DICE</h1>
          <p class="lead fw-bold custom-color mb-4">
            Car Roll-Dice is an Egyption cars auction startup business tha's simple a new method of selling cars to be introduced in
            Egypt ......
          </p>
          <div class="btns">
            <a class="text-decoration-none fw-bolder fs-5 text-primary" routerLink="/privacy">Privacy & Policy</a>
          </div>
        </div>
        <div class="col-md-5">
          <img class="w-100" src="assets/images/carousel-1.png" alt="">
        </div>
    </div>
  </div>
</section>


<section class="category  py-5">
  <div class="container">
    <div class="head mb-5 text-center">
      <button class="button" data-text="Awesome">
        <span class="actual-text custom-color fw-bolder">&nbsp;Categories&nbsp;</span>
        <span aria-hidden="true" class="hover-text fw-bolder">&nbsp;Categories&nbsp;</span>
      </button>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="inner text-center">
          <img height="250" class="w-100 shadow rounded-3 mb-3" src="assets/images/accedint.jpg" alt="">
          <h2 class="custom-color fw-bold">Accident Cars</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner text-center">
          <img height="250" class="w-100 shadow rounded-3 mb-3" src="assets/images/used.jpg" alt="">
          <h2 class="custom-color fw-bold">Used Cars</h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="inner text-center">
          <img height="250" class="w-100 shadow rounded-3 mb-3" src="assets/images/classic.jpg" alt="">
          <h2 class="custom-color fw-bold">Classic Cars</h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="head mb-5 text-center">
      <button class="button" data-text="Awesome">
        <span class="actual-text custom-color fw-bolder">&nbsp;Pricing&nbsp;</span>
        <span aria-hidden="true" class="hover-text fw-bolder">&nbsp;Pricing&nbsp;</span>
      </button>
    </div>

    <div class="wrapper">
      <div class="pricing-table">
        <div class="head">
          <h4 class="title">free</h4>
        </div>
        <div class="content">
          <div class="price d-flex justify-content-center align-items-center">
            <h1>0 EGP</h1>
          </div>

          <ul class="p-3">
            <li><i class="fa-solid fa-circle-check me-2"></i>Basic access to the auction platform</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Ability to view car listings</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Free Cancelation</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Limited number of bids per month (e.g., 5 bids)</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Email notifications for auction updates</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Ability to list up to 2 cars per month</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Basic car listing features (photos, basic details)</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Standard listing visibility</li>
          </ul>

          <div class="buy-now">
            <a href="#" class="btn round">Purchase Now</a>
          </div>
        </div>
      </div>

      <div class="pricing-table">
        <div class="head">
          <h4 class="title">Basic</h4>
        </div>
        <div class="content">
          <div class="price d-flex justify-content-center align-items-center">
            <h1 class="fs-4">300 EGP</h1>
          </div>

          <ul class="p-3">
            <li><i class="fa-solid fa-circle-check me-2"></i>All Free Member bidding features</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Increased number of bids per month (e.g., 20 bids)</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Priority email notifications for new listings and auction updates</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Access to detailed car history reports</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Basic bidder support with faster response times</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>Participation in exclusive Basic-only auctions</li>
            <li><i class="fa-solid fa-circle-check me-2"></i>All Free Member auctioneer features</li>
          </ul>

          <div class="buy-now">
            <a href="#" class="btn round">Purchase Now</a>
          </div>
        </div>
      </div>
      <div class="pricing-table">
        <div class="head">
          <h4 class="title">Premier</h4>
        </div>
        <div class="content">
          <div class="price d-flex justify-content-center align-items-center">
            <h1 class="fs-4">800 EGP</h1>
          </div>

            <ul class="p-3">
              <li><i class="fa-solid fa-circle-check me-2"></i>All Free Member bidding features</li>
              <li><i class="fa-solid fa-circle-check me-2"></i>Increased number of bids per month (e.g., 20 bids)</li>
              <li><i class="fa-solid fa-circle-check me-2"></i>Priority email notifications for new listings and auction updates
              </li>
              <li><i class="fa-solid fa-circle-check me-2"></i>Access to detailed car history reports</li>
              <li><i class="fa-solid fa-circle-check me-2"></i>Basic bidder support with faster response times</li>
              <li><i class="fa-solid fa-circle-check me-2"></i>Participation in exclusive Basic-only auctions</li>
              <li><i class="fa-solid fa-circle-check me-2"></i>All Free Member auctioneer features</li>
            </ul>

          <div class="buy-now">
            <a href="#" class="btn round">Purchase Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
